body{
    background-image: url("./assets/comicblue.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(160deg, rgb(49, 156, 228), rgb(255, 230, 0) );
}

.main-wrapper{
    background: black;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(49, 48, 48, 0.5);
}
.logo{
    color: rgb(0, 195, 255);
}
.navbar-brand{
    color: azure;
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
}
#favlistitem{
    display: flex;
    align-items: flex-start;

}

#outerbox{
    border: 1px solid rgb(247, 241, 241);
    margin: 10px;
    
}
#innerbox {
    margin: 10px;
    
}
h5{
    margin-left: 10px;
    color: white;
    
}
button{
    margin-left: 10px;
    margin-bottom: 5px;
}
#innerbox img {
    height:300px;
    width:200px;
  }

  